body {
    background-color: #111827;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

button {
    background-color: rgb(67, 212, 89);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}